<h2 class="my-5">Create Card</h2>

<form action='/create' method='POST'>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Enter your name" name='name'>
  </div>
  <div class="form-group">
    <label>Surname</label>
    <input type="text" class="form-control" placeholder="Enter your surname" name='surname'>
  </div>
  <div class="form-group">
    <label>Date of birth</label>
    <input type="date" class="form-control" name='date'>
  </div>
    <div class="form-group">
    <label>Country of birth</label>
    <input type="text" class="form-control" name='country' placeholder="Enter country's name where you was born">
  </div>
  <button type='submit' class='btn btn-primary'>Submit</button>
</form>